@model List<ResultProductDto>

@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/AdminLayout/Index.cshtml";

	int count = 0;
}

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Ürün İşlemleri</h4>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Ürün Listesi</div>
					</div>
					<div class="card-body">
						<table class="table mt-3">
							<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Ürün</th>
									<th scope="col">Açıklama</th>
									<th scope="col">Fiyat</th>
									<th scope="col">Kategori</th>
									<th scope="col">Durum</th>
									<th scope="col">Güncelle</th>
									<th scope="col">Sil</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									count++;
									<tr>
										<th>@count</th>
										<td>@item.ProductName</td>
										<td>@item.Description</td>
										<td>@item.Price ₺</td>
										<td>@item.CategoryName</td>
										<td>@item.ProductStatus</td>
										<td><a href="/Product/UpdateProduct/@item.ProductId" class="btn btn-info">Güncelle</a></td>
										<td><a href="/Product/DeleteProduct/@item.ProductId" class="btn btn-danger">Sil</a></td>
									</tr>
								}
							</tbody>
						</table>
						<a asp-controller="Product" asp-action="CreateProduct" class="btn btn-primary">Ürün Ekle</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

